@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-position: 50%;
  background-image: url("../public/test.jpg");
  height: 350px;
}

.header2 {
  background-color: rgba(0, 0, 0, 0.75);
}

.logo {
  height: 100px;
  width: 140px;
}

.lg {
  height: 20px;
  width: 30px;
  margin: 3px;
}

.vgu {
  padding-top: 0px;
  width: 140px;
  height: 100px;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

@layer components {
  .toolbar-btn {
    @apply w-7 h-7 my-2 mx-[1px] rounded flex justify-center items-center text-gray-600 bg-transparent hover:bg-gray-100;
  }

  .toolbar-btn.active,
  .toolbar-btn:active {
    @apply text-orange-700 bg-orange-100;
  }

  .toolbar-btn .material-symbols-outlined {
    @apply text-xl;
  }

  .toolbar-btn .format-underline-icon,
  .toolbar-btn .format-sub-icon {
    @apply relative top-[1px];
  }

  .toolbar-btn .format-color-icon {
    @apply relative top-[3px];
    clip-path: inset(0 0 40% 0);
  }

  .toolbar-btn .format-bgColor-icon {
    clip-path: inset(0 0 30% 0);
  }
}

@layer components {
  .color-picker {
    @apply absolute bg-white p-3 rounded-lg shadow-[0_4px_16px_-4px_rgba(0,0,0,0.2)] w-max;
  }

  .color-palette {
    @apply grid grid-cols-10 gap-0.5;
  }

  .color-palette .slot {
    @apply w-5 h-5 rounded-full border border-gray-200
  hover:shadow-[0_0_4px_1px_rgba(0,0,0,0.3)] hover:border-none
  flex items-center justify-center;
  }

  .color-palette .slot.highlighted {
    @apply outline outline-2 outline-black;
  }
}
