@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-position: 50%;
    background-image: url('../public/test.jpg');
    height: 350px;
}

.header2 {
    background-color: rgba(0, 0, 0, 0.75);
}

.logo {
    height: 100px;
    width: 140px;
}

.lg {
    height: 20px;
    width: 30px;
    margin: 3px;
}

.vgu {
    padding-top: 0px;
    width: 140px;
    height: 100px;
}

.carousel-container {
    width: 1280px;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
}

.carousel-container .carousel-inner {
    overflow: hidden;
}
.carousel-container .track {
    display: inline-flex;
    transition: transform 0.5s;
}
.carousel-container .card-container {
    width: 259px;
    flex-shrink: 0;
    height: 250px;
    padding-right: 15px;
    box-sizing: border-box;
}
.carousel-container .card-container .card {
    width: 100%;
    height: 100%;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.nav .prev {
    left: -30px;
    display: none;
}
.nav .prev.show {
    display: block;
}
.nav .next {
    right: -30px;
}
.nav .next.hide {
    display: none;
}

.card > * {
    flex: 1;
}