<html>
  <body>
    <!--StartFragment-->
    <meta charset="utf-8" />
    <b
      style="font-weight: normal"
      id="docs-internal-guid-c9f6c099-7fff-a268-a4eb-5f411837080c"
    >
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Arial;
            color: #000000;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          text
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Arial;
            color: #000000;
            background-color: transparent;
            font-weight: 700;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          bold
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Arial;
            color: #000000;
            background-color: transparent;
            font-weight: 400;
            font-style: italic;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          italic
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Arial;
            color: #000000;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: underline;
            -webkit-text-decoration-skip: none;
            text-decoration-skip-ink: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          underline
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Arial;
            color: #000000;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: line-through;
            -webkit-text-decoration-skip: none;
            text-decoration-skip-ink: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          strikethrough
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Arial;
            color: #000000;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          <span style="font-size: 0.6em; vertical-align: super">
            superscript
          </span>
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Arial;
            color: #000000;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          <span style="font-size: 0.6em; vertical-align: sub">subscript</span>
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: 'Courier New';
            color: #000000;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          font
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 13.999999999999998pt;
            font-family: Arial;
            color: #000000;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          fontSize
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Arial;
            color: #ff0000;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          textColor
        </span>
      </p>
      <p
        dir="ltr"
        style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Arial;
            color: #000000;
            background-color: #ffff00;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
        >
          highlightColor
        </span>
      </p>
    </b>
    <br class="Apple-interchange-newline" />
    <!--EndFragment-->
  </body>
</html>
