@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-position: 50%;
    background-image: url('../public/test.jpg');
    height: 350px;
}

.header2 {
    background-color: rgba(0, 0, 0, 0.75);
}

.logo {
    height: 100px;
    width: 140px;
}

.lg {
    height: 20px;
    width: 30px;
    margin: 3px;
}

.vgu {
    padding-top: 0px;
    width: 140px;
    height: 100px;
}