@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-position: 50%;
    background-image: url('../public/test.jpg');
    height: 350px;
}

.header2 {
    background-color: rgba(0, 0, 0, 0.75);
}